on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Fetch Global Styles
        run: |
          curl -L https://raw.githubusercontent.com/Evangel-Presbytery/evangel-docs-styles/main/evangel-docs-global.css -o evangel-docs-global.css
          curl -L https://raw.githubusercontent.com/Evangel-Presbytery/evangel-docs-styles/main/evangel-docs-global.tex -o evangel-docs-global.tex

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
